<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Meus Contatos</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Luiz Carlos</td>
                        <td>belemlc@gmail.com</td>
                        <td>21 97300-8600</td>
                        <td><button class="btn btn-danger">Deletar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>